/*Globals*/

html {
    font-size: 16px;
    line-height: 1rem;
    font-family: 'Gloria Hallelujah';
    color: #111;
    background-image: url("http://www.bentpaddlebrewing.com/reference/images/backgrounds/WoodBartop5Horiz.jpg");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body, body * {
    list-style: none;
}

body>* {
    display: block;
}

body {
    background-color: hsla(0, 0%, 0%, .5);
    width: 300px;
    color: white;
    letter-spacing: .2em;
    margin: auto;
}

/*Navigation + Buttons*/

.logo-img {
    width: 100%;
}

i {
    position: fixed;
    top: 1rem;
    left: 5rem;
}

a {
    font-family: serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.main-nav a, .beers h3 {
	background-color: #124b55;
}

.main-nav a {
	line-height: 4rem;
    padding: 1rem;
    margin: 1rem;
}

.beers {
    padding-top: 1rem;
    margin: 0;
}

.beers h2 {
    color: #7c3a00;
    background-color: #e9e9e9;
    line-height: 2rem;
    padding: .5rem;
    text-align: center;
    font-size: 2em;
}

.beers h3 {
	line-height: 2rem;
}

.beers h3, p {
	text-align: center;
}

.beers img {
    max-width: 100%;
}

.beers p {
    background-color: #e9e9e9;
    color: #7c3a00;
    font-family: serif;
}

footer {
    font-size: .6rem;
    padding-top: 3em;
}

.social-nav li {
    display: inline;
}

.visuallyhidden {
    display: none;
}