@charset "UTF-8";

/*Week 1-Responsive Design CSS*/

/*Globals*/
html {
	box-sizing: border-box;
	background: #eee;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #111;
	width: 800px;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	margin: 0 auto;
	padding: 3em 5em;
	background: #fff;
	line-height: 1.5em;
	font-weight: lighter;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
	width: 640px;
}

h1, h2, h3 {
	font-family: Arial, sans-serif;
}



/*
.container {
	position: relative;
}

iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

}
*/