html {
  background-color: $white;
  color: $black;
  font-family: $copy-font;
  font-size: $font-size-base;
  line-height: $font-size-base * 2;
}

body {
  margin: 0;
  padding-top: $line-height * 2;
  width: 100%;

  > * {
    margin: 0 auto $line-height;
    width: 93.75%;
  }
}

h1, h2, h3, h4, h5, h6, p { 
	margin-bottom: $line-height;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  line-height: $line-height * 2;
  margin-bottom: $line-height * 1.5;
}