$line-height: 1.5rem;

$mobile-content-width: 400px;
$tablet-content-width: 600px;
$laptop-content-width: 768px;

$header-font: "nosifer", cursive;
$author-font: "special elite", cursive;
$copy-font: "Open Sans", sans-serif;

$black: #111;
